.saylani-log {
    width: 200px;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 9px 16px;
    text-decoration: none;
    display: block;
    font-size: 0.8em;

    position: relative;

}

.english {
    width: 100%;
    height: 20px;

    position: fixed;
    top: 0px;
    z-index: 19;
    background-color: #e5e3e3;
}

.info {
    display: flex;
    width: 40%;
    font-size: 0.8em;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: 100px;
}

.english img {
    width: 15px;
    height: 15px;




}



.dropdown:hover .dropdown-content {
    margin-top: 20px;
    display: block;


}

.dropdown-content a:hover {
    background-color: #8dc63f;
    color: #ffffff;

}

.saylani-log {
    position: relative;
    left: 60px;


}

.button {
    position: relative;
    right: -200px;
    margin: 10px;

}

.button>button {
    margin: 5px;
    border-radius: 7px;
}


.navbar {
    position: fixed;
    width: 100%;
    box-shadow: 0 4px 4px -2px gray;
    z-index: 2;

    top: 20px;
}

.navbar-nav {
    position: fixed;
    left: 200px;
    width: 100%;


}


.dropdown>a {
    position: relative;
    top: 15px;
    font-size: 1.1em;
    left: 145px;
}

.blue {
    background-color: #0066b3;
    color: #ffffff;
    border: none;

}

.Donors {
    animation-name: Donors;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}





@keyframes Donors {
    from {
        color: #0066b3;

    }

    to {
        color: #8dc63f;
    }

}


.blue>a,
.green>a {
    color: #ffffff;
}

.green {
    background-color: #8dc63f;
    color: #ffffff;
    border: none;

}



.dropdown>a:hover {
    border-bottom: #8dc63f 2px solid;


}

.green-s {
    color: #8dc63f;
}

.blue:hover,
.green:hover {
    font-size: 1.2em;
    width: 160px;

}


.language {
    position: relative;
    z-index: 6;
    width: 70px;
    left: 620px;
    background-color: #fafafa;
    border-left: 1px solid black;
    border-right: 1px solid black;

}

.lang-drop {
    display: none;

}

.language:hover {
    border-left: 2px solid black;
    border-right: 2px solid black;
    font-size: 1.01em;
    background-color: #ffffff;
}

.language:hover .lang-drop {
    display: block;

}

.lang-drop {
    position: absolute;
    width: 70px;
    height: 50px;
    background-color: #fafafa;
    border: none;
    z-index: 18;


}

.ngo-anim>span {
    animation-name: display;
    animation-duration: 1s;
    animation-iteration-count: infinite;


}

.ngo-anim {
    color: #8dc63f;
}

@keyframes display {
    from {
        display: inline;

    }

    to {
        color: #ffffff;
    }
}




.lang-drop div {
    font-size: 1.2em;

}

.lang-drop a {
    text-decoration: none;
    color: black;

}

.write {
    position: relative;
    top: 200px;
    width: 100%;
    
}

.mulana {
    position: relative;
    top: 140px;

    left: 0px;

}

.how {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 220px;
    width: 100%;

}

.material {
    display: flex;
    width: 100%;
    position: relative;
    top: 250px;
    left: 60px;
    justify-content: center;
    justify-content: space-around;
    align-items: center;

}

.Welfare {
    background-color: #dbd9d9;
    width: 170px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.Welfare:hover {
    width: 175px;
    height: 145px;
}

.Welfare p {
    position: relative;
    top: 14px;
}

.red {
    position: relative;
    top: 455px;
    left: -550px;
    width: 60px;
    height: 50px;
    background-color: rgba(183, 183, 246, 92%);
    border-radius:1000px;
}

.pink {
    position: relative;
    top: 180px;
    width: 60px;
    height: 50px;
    background-color: rgba(183, 183, 246, 92%);
    border-radius: 800px;
}

.explore {
    border: 1px solid black;
    border-radius: 5px;
    width: 150px;
    height: 43px;
    position: relative;
    top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.wellcome {
    position: relative;
    left: 80px;
    top: 25px;


}

.ngo {
    position: relative;
    left: 80px;
    top: 30px;

}

.mulana img {
    width: 480px;
    height: 480px;

}

.body {
    display: flex;
    width: 100%;

}

.pictures {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: auto 0;
    position: relative;
    top: 300px;
    left: 60px;

}

.first>img,
.second>img,
.third>img {
    width: 350px;
    height: 200px;
    border-radius: 10px;

}

.first .Donate,
.second .Donate,
.third .Donate {
    position: relative;
    z-index: 1;
    width: 300px;
    height: 25px;
    background-color: #8dc63f;
    top: 192px;
    left: 25px;
    font-size: 1.0em;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
}

.Zakat {
    position: relative;
    top: -60px;

    width: 100%;
    left: 5px;
    font-weight: bold;
    color: #ffffff;
}

.first>img:hover,
.second>img:hover,
.third>img:hover {
    width: 370px;
    height: 210px;
}

.background {
    background-image: url("pictures/background.webp");
    background-repeat: repeat;
    background-color: #dbd9d9;
    width: 100%;
    height: 500px;
    position: relative;
    top: 350px;




}

.background .img {
    width: 230px;
    position: relative;
    top: 30px;
    left: 30px;

}

.xmail,
.number-whatsap,
.youtube,
.facebook {
    width: 35px;
    height: 30px;
    position: relative;
    top: 90px;
    border-radius: 5px;
    left: -190px;
}

ul>li {
    color: #ffffff;
    list-style: none;
}

.white-content {
    display: flex;
    position: relative;
    justify-content: center;
    top: -30px;
    left: 100px;
    font-size: 0.8em;
}

.lines {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}

.line,
.linetwo,
.linethree {
    position: relative;
    border-bottom: 1px solid #dbd9d9;
  
    width:60%;


}

.line{
    display: flex;
    justify-content: center;
    position: relative;
    top:-15px;
}
.acca{
    width: 50px;
    height: 70px;
    position: relative;
    top: 0px;
}
.linetwo{
    position: relative;
    top: 20px;

}
.linethree {
    position: relative;
top: 40px;
}
.lines p{
    font-size: 0.8em;
    position: relative;
    top: 30px;
    color: #fafafa;
}

.trust{
    font-size: 0.9em;
    position: relative;
    top: 60px;
color: #f1f1f1;
text-align: center;
}





















@media only screen and (max-width:600px) {
    .saylani-log {
        position: fixed;
        left: 10px;
        top: 0px;
    }

    .dropdown {
        position: relative;
        right: 300px;


    }

    .english {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;


    }.xmail,
.number-whatsap,
.youtube,
.facebook {
    width: 35px;
    height: 30px;
    position: relative;
    top: 90px;
    border-radius: 5px;
    left: -100px;
}
.img{
    position: relative;
    left: 100px;
    width: 120px;
    height: 90px;
}

    .english span {
        display: flex;
        width: 100%;
        align-items: center;
        left: 0px;
        font-size: 0.7em;
    }

    .english span>img {
        width: 10px;
        height: 10px;
    }



    .saylani-log {
        width: 200px;
        position: relative;

    }.background{
        height: 800px;
    }

    .blue:hover,
    .green:hover {
        font-size: 1.2em;
        width: 84%;

    }
    .white-content {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        top: 90px;
        left: 100px;
        font-size: 0.5em;
    }


    
.lines {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 100px;

}
    .acca{
        width: 50px;
        height: 70px;
        position: relative;
        top: 0px;
    }

    .navbar-nav {
        position: relative;

        width: 100%;
        background-color: #f1f1f1;

    }

    .red {
        position: relative;
        left: -400px;
        display: none;
    }


    .dropdown a:hover .dropdown-content {
        margin-top: 0px;
        display: block;


    }

    .dropdown-content a {
        color: black;
        padding: 8px;
        text-decoration: none;
        display: block;
        font-size: 0.7em;

        position: relative;

    }

    .dropdown-content {
        position: absolute;
        left: 200px;
        z-index: 1;


    }


    .dropdown>a:hover {
        border-bottom: #8dc63f 2px solid;
        width: 140px;
    }

    .button>button {
        width: 80%;

        position: relative;
        left: 0px;


    }

    .button {
        position: relative;
        left: -170px;
        margin-top: 20px;
    }

    .blue {
        background-color: #0066b3;
        color: #ffffff;
        border: none;


    }

    .blue>a,
    .green>a {
        color: #ffffff;
    }

    .green {
        background-color: #8dc63f;
        color: #ffffff;
        border: none;

    }

    .mulana {
        display: none;
    }

    .write {
        width: 100%;
    }

    .explore {
        position: relative;
        top: 10px;
    }

    .how {
        position: relative;
        top: 250px;
        left: 10px;
    }

    .material {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Welfare {
        margin: 10px 0px;
        width: 250px;
        height: 200px;
    }

    .Welfare:hover {
        width: 260px;
        height: 210px;
    }

    .pictures {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }



}